/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600;800&display=swap');

/* Colors */
:root {
  --color-default: #0a0d13;
  --color-primary: #2f2f30;
  --color-secondary: #ffc107;
  --color-thrith: #2f2f30;
  --color-fourth: #717172;
}

/* -------------------------------------------------------------------------------------------------------------- */

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.navbar-dark {
  transition: 500ms ease;
  background: transparent;
}
.navbar-dark.scrolled {
  background: var(--color-primary);
}

@media screen and (max-width: 991px) {
  .navbar-dark {
    background: var(--color-primary);
  }
}

/* navbar */
nav {
  background: var(--color-primary);
}

#offcanvasNavbar {
  background: var(--color-primary);
  color: white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

nav ul {
  margin-inline-start: auto;
}

@media screen and (max-width: 991px) {
  nav #offcanvasScrolling ul {
    margin-inline-end: auto;
  }
}

/* home */

.home .row {
  padding-top: 13rem;
}

@media screen and (min-width: 991px) {
  #home h1 {
    font-size: 50px;
  }
}

.glass a:hover {
  border: none;
  border-color: none;
}

.line {
  height: 3px;
  width: 10%;
  background: black;
}

@media screen and (max-width: 991px) {
  #project .colpro {
    width: 50%;
  }

  #information .colpro {
    width: 50%;
  }
}

@media screen and (max-width: 574px) {
  #project .colpro {
    width: 100%;
  }

  #information .colpro {
    width: 100%;
  }
}

/* testimonial */
#testimonial .row {
  margin-top: 5rem;
}

#testimonial .card {
  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}

.ratings i {
  color: yellow;
}

#testimonial p {
  text-align: justify;
}

.lines {
  height: 1px;
  background: #bebebe;
}

/* contact */
#contact .container {
  padding-top: 8rem;
}

/* footer */
footer {
  background: var(--color-primary);
}

#footer .button1:hover {
  background-color: var(--color-secondary);
  color: white;
  border: var(--color-secondary);
}
